@charset "UTF-8";
@font-face {
    font-family: 'HsJandari';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-2@1.0/HSJandari.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
html * {
	font-family: 'HsJandari'; 
}
.table-box th, .table-box td {
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}
.summary>li a {
	font-size: 0.7rem;
	color: #422ad5;
}
.join-box th, .join-box td {
	padding: 10px;
	text-align: center;
}
.btns a, .btns button, .submitBtn {
	padding: 5px;
	border: 2px solid black;
	border-radius: 8px;
	cursor: pointer;
}

.btns a:hover, .btns button:hover, .submitBtn:hover {
	background-color: black;
	color: white;
}
.joincontainer {
	margin-left: 100px;
}
.title{
	font-size: 1.5rem;
}
table {
	margin-top: 50px;
}
textarea[name="content"] {
  height: 250px;
}
.main>div {
	font-size: 1.5rem;
	margin-left: 3%;
}
.main-title {
	font-size: 1.5rem;
	font-weight: bold;
}
i {
	font-size: 2rem;
}

.liked {
	color: red;
}

label.input {
    display: flex; 
    align-items: center;  
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 4px;
    gap: 4px;     
    font-size: 0.7rem;   
    height: 30px;
}
.navbar-center {
	margin-left: 250px;
}

form label.input button {
	width: 40px;
	height: 20px;
	font-size: 0.6rem;
}
#boardSelect {
	width: 150px;
	font-size: 0.8rem;
}

#list {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
.logo {
	text-align: center;
}

.buttons {
	width: 150px;
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
}
.select {
	width: 120px;
	height: 30px;
	font-size: 0.6rem;
	margin-right: 30px;
}
.summary { 
	position: absolute;
	z-index: 100;
}
.join {
	margin-bottom: 70px;
}

.join .join-item {
	font-size: .6rem;
}
.join .join-item i {
	font-size: .5rem;
}