@charset "UTF-8";
@font-face {
    font-family: 'HsJandari';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-2@1.0/HSJandari.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

html * {
	font-family: 'HsJandari'; 
}
.table-box th, .table-box td {
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}

.join-box th, .join-box td {
	padding: 10px;
	text-align: center;
}
.btns a, .btns button, .submitBtn {
	padding: 5px;
	border: 2px solid black;
	border-radius: 8px;
	cursor: pointer;
}

.btns a:hover, .btns button:hover, .submitBtn:hover {
	background-color: black;
	color: white;
}
.joincontainer {
	margin-left: 100px;
}
.title{
	font-size: 1.5rem;
}
table {
	margin-top: 50px;
}
textarea[name="content"] {
  height: 250px;
}
.main>div {
	font-size: 1.5rem;
	margin-left: 3%;
}
.main-title {
	font-size: 1.5rem;
	font-weight: bold;
}
i {
	font-size: 2rem;
}

.liked {
	color: red;
}

label.input {
    display: flex;        /* 아이콘, input, 버튼 가로 정렬 */
    align-items: center;  /* 세로 중앙 정렬 */
    width: 150px;         /* 원하는 전체 너비 */
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 4px;
    gap: 4px;     
    font-size: 0.7rem;        /* 아이템 사이 간격 */
}

form label.input button {
	width: 40px;
	height: 20px;
	font-size: 0.6rem;
}